<header>
  <h1 id="title"><%= @title ? @title : 'News Memory'%></h1>
  <div id="subtitle"><%= @title ? '<a href="/">News Memory</a> – ' : ''%>Archives of newspapers' frontpages</div>
</header>

<div id="content">
    <navigation>

      <form method="get" action="/newspaper" onsubmit="submitNewspaper(); return false;">
        <label for="nav_newspaper">Newspapers</label>
        <%= display_newspapers_select(@newspapers, 'nav_newspaper') %>
        <input type="submit" value="Go">
      </form>

      <form method="get" action="/country" onsubmit="submitCountry(); return false;">
        <label for="nav_country">Countries</label>
        <select id="nav_country" name="country">
          <% @countries.each do |co| %>
              <%= "<option value=\"#{co[0]}\">#{co[1]}</option>" %>
          <% end %>
        </select>
        <input type="submit" value="Go">
      </form>

      <form method="get" action="/date" onsubmit="submitDate(); return false;">
        <label for="nav_date">Date</label>
        <input id="nav_date" name="date" size="10">
        <input type="submit" value="Go">
      </form>
    </navigation>

  <% for snapshot in @snapshots %>
      <div class="imgWrapper">
        <%= "<a class=\"cover\" title=\"#{snapshot.webpage.name} – #{display_date_time(snapshot.created_at)}\" href=\"/snapshots/#{snapshot.snapshot_path}\"><img src=\"/snapshots/#{snapshot.small_snapshot_path}\" title=\"#{snapshot.webpage.name} – #{display_date_time(snapshot.created_at)}\"></a>" %>
      </div>
  <% end %>
</div>